body
{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
}
div
div.header
{
    background-color: white;
    width: 75%;
    margin: 0 auto 50px;
    border: solid black 5px;
}
#quests_number
{
    width: 130%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 25px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
    right: 0px;
}
#quest_data
{
    height: auto;
    width: auto;
    background-color: white;
}
.quests
{
    width: auto;
    height: auto;
    margin: 10px;
}
.quest
{

    width: 100%;
    height: auto;
    text-align: justify;
}
.ans
{
    display: grid;
    height: auto;
    width: 100%;
}
.ans > *
{
    padding: 7px;
}
.ans > *:hover
{
    border: solid 1px black;
}
